.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}

.heading {
  margin-bottom: 16px;
  text-align: center;
  color: black;
}

.button {
  margin-top: 8px;
  background-color: #3bb19b;
  color: white;
}

.button:hover {
  background-color: #2b8875;
}
